<div *ngIf="user; else showLoading">
  <div class="container col-xs-12 d-flex flex-between">
    <div class="col-xs-6">
      <div class="">
        <div class="">
          <div class="card hovercard">
            <div class="cardheader"></div>
            <div class="avatar">
              <img
                alt=""
                src="http://lorempixel.com/100/100/people/{{ user.id }}/"
              />
            </div>
            <div class="info">
              <div class="title">
                <b>{{ user.name }} {{ user.surname }}</b>
              </div>
              <div class="desc">Email: {{ user.email }}</div>
              <div class="desc">City: {{ user.city }}</div>
              <div class="desc">Phone: {{ user.phone }}</div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="toggleComponent()">Show/Hide Update Component</button>
    </div>
    <div class="col-xs-6">
      <app-user-update  *ngIf="showUpdateComponent" [user]="user"></app-user-update>
    </div>
  </div>
</div>

<ng-template #showLoading> LOADING </ng-template>
