<div class="card mb-3 center" style="max-width: 640px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="product.imageUrl" class="card-img" [alt]="product.title" />
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ product.title | uppercase }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">Category: <small>{{ product.category }}</small></p>
        <p class="card-text">
          <small class="text-muted"><a (click)="makeRed()">Mark Up</a></small>
        </p>
        <ng-content></ng-content>
        <button class="mr-5 btn btn-danger" (click)="removeItem()">
          Remove Item
        </button>
        <button class="btn btn-success" (click)="editItem()">Edit Item</button>
        <a routerLink="/product-detail/{{product?.id}}" [queryParams]="{'category':product.category, 'price': product.price}">View Details</a>
      </div>
    </div>
    <div class="col-md-2 d-flex justify-content-end ">
      {{ product.price | currency: "USD" }}
    </div>
  </div>
</div>
