<div [formGroup]="updateUser">
  <div class="col-xs-12">
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" />
    <p
      class="text-danger"
      [hidden]="
        updateUser.controls['email'].untouched ||
        !updateUser.controls['email'].errors?.required
      "
    >
      This field is required
    </p>

    <p
      class="text-danger"
      [hidden]="!updateUser.get('email').hasError('pattern')"
    >
      This field is invalid
    </p>
  </div>
  <div class="col-xs-12">
    <label for="phone">Phone</label>
    <input type="text" id="phone" formControlName="phone" />
    <p
      class="text-danger"
      [hidden]="
        updateUser.controls['phone'].untouched ||
        !updateUser.controls['phone'].errors?.required
      "
    >
      This field is required
    </p>
    <p class="text-danger" [hidden]="!updateUser.get('phone').hasError('pattern')">
      This field is invalid
    </p>
  </div>
  <div class="col-xs-12">
    <label for="city">City</label>
    <input type="text" id="city" formControlName="city" />
  </div>
  <button type="button" class="btn btn-success" (click)="updateUserSettings()">
    Update User Settings
  </button>
</div>
