<div>
  <form>
    <input
      class="form-control mr-sm-2 m-3 p-3"
      type="search"
      placeholder="Search"
      aria-label="Search"
      (ngModelChange)="searchProduct($event)"
      [ngModelOptions]="{ standalone: true }"
      [ngModel]="searchText"
    />
    <div class="col-xs-12 m-3 p-3">
      <span>Sort By -> </span>
      <select
        name=""
        id=""
        class=""
        (ngModelChange)="sortProducts($event)"
        [ngModelOptions]="{ standalone: true }"
        [ngModel]="sortValue"
      >
        <option value="high-low">Price (High-Low)</option>
        <option value="low-high">Price (Low-High)</option>
        <option value="a-z">Titles (A-Z)</option>
        <option value="z-a">Titles (Z-A)</option>
      </select>
    </div>
  </form>
</div>

<div>
  <div class="col-xs-12 m-3 p-3">
    <span>Search By Category -> </span>
    <select name="" id="" class="">
      <option value="shirt">Shirt</option>
      <option value="low-high">Short</option>
      <option value="shoes">Shoes</option>
    </select>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div *ngIf="isLoading === false; else showLoading">
    <div class="text-center" *ngIf="products.length === 0">
      <h3>No Results</h3>
      <div *ngIf="error">{{ error }}</div>
    </div>
    <div
      *ngFor="let product of products"
      appBorderedBox
      [class.active]="isSelectedProduct(product)"
    >
      <app-product-row
        [product]="product"
        (selectedProduct)="getSelectedProduct($event)"
        (removingProduct)="removeProduct($event)"
        (editingProduct)="getEditableProduct($event)"
      >
        <small>If you remove the item, you can't see it anymore.</small>
      </app-product-row>
    </div>
  </div>

  <div
    [formGroup]="editItemForm"
    *ngIf="!isEmptyObject(editingProduct)"
    id="update-info"
  >
    <button class="btn btn-primary" (click)="goAddItem()">
      Go to Add Item
    </button>
    <div class="card" style="width: 40rem;">
      <div class="card-header">Update the item {{ editingProduct.title }}</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label for="title">Title:</label>
          <input type="text" id="title" formControlName="editTitle" />
          <p
            class="text-danger"
            [hidden]="
              editItemForm.controls['editTitle'].untouched ||
              !editItemForm.controls['editTitle'].errors?.required
            "
          >
            This field is required
          </p>
        </li>
        <li class="list-group-item">
          <label for="description">Description:</label>
          <input type="text" id="description" formControlName="editDesc" />
          <p
            class="text-danger"
            [hidden]="
              editItemForm.controls['editDesc'].untouched ||
              !editItemForm.controls['editDesc'].errors?.required
            "
          >
            This field is required
          </p>
          <p
            class="text-danger"
            [hidden]="!editItemForm.get('editDesc').hasError('maxlength')"
          >
            The field can contains max. 100 symbols!!!
          </p>
          <p
            class="text-danger"
            [hidden]="!editItemForm.get('editDesc').hasError('minlength')"
          >
            The field must contains min. 10 symbols!!!
          </p>
        </li>
        <li class="list-group-item">
          <label for="price">Price:</label>
          <input
            appBlockCopyPaste
            formControlName="editPrice"
            type="number"
            id="price"
          />
          <p
            class="text-danger"
            [hidden]="
              editItemForm.controls['editPrice'].untouched ||
              !editItemForm.controls['editPrice'].errors?.required
            "
          >
            This field is required
          </p>
          <p
            class="text-danger"
            [hidden]="!editItemForm.get('editPrice').hasError('pattern')"
          >
            This field is invalid
          </p>
        </li>
        <li class="list-group-item">
          <label for="imgUrl">Image Url:</label>
          <input type="text" id="imgUrl" formControlName="editImgUrl" />
          <p
            class="text-danger"
            [hidden]="
              editItemForm.controls['editImgUrl'].untouched ||
              !editItemForm.controls['editImgUrl'].errors?.required
            "
          >
            This field is required
          </p>
        </li>
      </ul>

      <div *ngIf="editingValidationErrors">
        <div class="col-xs-12 alert-danger">Please fill all fields</div>
      </div>
      <button
        [disabled]="editItemForm.invalid"
        class="btn btn-success"
        (click)="editItem(editingProduct.id)"
      >
        Save
      </button>
    </div>
  </div>

  <div
    [formGroup]="addItemForm"
    *ngIf="isEmptyObject(editingProduct)"
    id="update-info"
  >
    <div class="card" style="width: 40rem;">
      <div class="card-header">Add new Item</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <label for="title">Title:</label>
          <input type="text" id="title" formControlName="addTitle" />
          <p
            class="text-danger"
            [hidden]="
              addItemForm.controls['addTitle'].untouched ||
              !addItemForm.controls['addTitle'].errors?.required
            "
          >
            This field is required
          </p>
        </li>
        <li class="list-group-item">
          <label for="description">Description:</label>
          <input type="text" id="description" formControlName="addDesc" />
          <p
            class="text-danger"
            [hidden]="
              addItemForm.controls['addDesc'].untouched ||
              !addItemForm.controls['addDesc'].errors?.required
            "
          >
            This field is required
          </p>
          <p
            class="text-danger"
            [hidden]="!addItemForm.get('addDesc').hasError('maxlength')"
          >
            The field can contains max. 100 symbols!!!
          </p>
          <p
            class="text-danger"
            [hidden]="!addItemForm.get('addDesc').hasError('minlength')"
          >
            The field must contains min. 10 symbols!!!
          </p>
        </li>
        <li class="list-group-item">
          <label for="category">Category:</label>
          <input type="text" id="category" formControlName="addCategory" />
          <p
            class="text-danger"
            [hidden]="
              addItemForm.controls['addCategory'].untouched ||
              !addItemForm.controls['addCategory'].errors?.required
            "
          >
            This field is required
          </p>
        </li>
        <li class="list-group-item">
          <label for="price">Price:</label>
          <input
            appBlockCopyPaste
            formControlName="addPrice"
            type="number"
            id="price"
          />
          <p
            class="text-danger"
            [hidden]="
              addItemForm.controls['addPrice'].untouched ||
              !addItemForm.controls['addPrice'].errors?.required
            "
          >
            This field is required
          </p>
          <p
            class="text-danger"
            [hidden]="!addItemForm.get('addPrice').hasError('pattern')"
          >
            This field is invalid
          </p>
        </li>
        <li class="list-group-item">
          <label for="imgUrl">Image Url:</label>
          <input type="text" id="imgUrl" formControlName="addImgUrl" />
          <p
            class="text-danger"
            [hidden]="
              addItemForm.controls['addImgUrl'].untouched ||
              !addItemForm.controls['addImgUrl'].errors?.required
            "
          >
            This field is required
          </p>
        </li>
      </ul>

      <div *ngIf="addingValidationErrors">
        <div class="col-xs-12 alert-danger">Please fill all fields</div>
      </div>

      <button
        [disabled]="addItemForm.invalid"
        class="btn btn-primary"
        (click)="addItem()"
      >
        Add item
      </button>
    </div>
  </div>
</div>

<ng-template #showLoading>
  <app-loader></app-loader>
</ng-template>
